/vendor/
node_modules/

# Laravel
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

# Environment
.env
.env.backup
.env.production

# IDE
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
.phpactor.json
.phpunit.result.cache

# Laravel legacy
bootstrap/compiled.php
app/storage/

# Other
Homestead.json
Homestead.yaml
/.vagrant
auth.json

# OS
.DS_Store
Thumbs.db

# NPM
npm-debug.log
yarn-error.log